---
import resumePhoto from "../../assets/resumePicture1.png";
import SectionHeading from "../shared/SectionHeading.astro";

const aboutMeText = "Originally from New York, I moved to California in 2017 and started pursuing my degree in Computer Science at UC Davis and graduated in 2022. In addition to my studies, I have also gained invaluable experience working at both startups pre-MVP and larger well-established companies. In my spare time I enjoy traveling the world, Brazillian Jiu Jitsu, and flying a little Cessena around"
---
<section class="w-full bg-[#121212]" id="about-section">

    <SectionHeading text="About" />

    <div class="flex flex-col-reverse md:flex-row justify-center items-center p-8 gap-6 md:p-12 md:gap-12">
        <div class=" md:p-8">
            <p class="text-white opacity-90 max-w-xl text-lg">{aboutMeText}</p>
        </div>
        <div class="">
            <img src={resumePhoto} class="w-40 md:w-60 h-auto">
        </div>
    </div>
</section>