---
import backgroundCode from "../../assets/code_background.jpg"
import { Icon } from 'astro-icon'
import BlocksShuffle from "../shared/Animations/BlocksShuffle.astro";

const introMessage = "I am a Full Stack Web Developer. I provide services that span from simple single page static websites to fully interactive web apps with powerful APIs."
---
<style>
    .typewriter{
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: 2px solid white; /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        
        animation: 
            typing 1.5s steps(40, end) forwards,
            blink-caret .55s step-end infinite;
    }

    .typewriter::-webkit-scrollbar {
        display: none;
    }

    /* The typing effect */
    @keyframes typing {
        from { width: 0 }
        to { width: 350px;}
    }
    
    @media(max-width: 365px) {
           /* The typing effect */
        @keyframes typing {
            from { width: 0 }
            to { width: 260px;}
        } 
    }
    /* The typewriter cursor effect */
    @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: white}
    }

    .slide-from-left {
        position: relative;
        transform: translateX(150%);

        animation:
            slide-from-left 1.5s forwards;
        animation-delay: 1.5s;
    }

    @keyframes slide-from-left {
        from {
            transform: translateX(-150%); 
        } 
        to {
            transform: translateX(0);
        }
    }

    .fizzle-in {
        opacity: 0;
        animation: fizzle-in 1s forwards;
        animation-delay: 2.5s;
    }

    @keyframes fizzle-in {
        from {
            opacity: 0;
        }
        to {
            opacity: 100;
        }
    }
</style>

<script>
    const spinnerIconElement = document.getElementById('spinner-icon') as HTMLElement
    const backgroundImageElement = document.getElementById('splash-bg-img') as HTMLImageElement
    const introductionHeaderElement = document.getElementById('intro-text') as HTMLElement
    const introductionBlockTextElement = document.getElementById('intro-block-text') as HTMLElement
    const socialMediaContainerElement =  document.getElementById('social-media-container') as HTMLElement

    const onImageLoaded = () => {
        spinnerIconElement.remove()
    
        introductionHeaderElement.classList.remove('hidden')
        introductionHeaderElement.classList.add('typewriter')
    
        introductionBlockTextElement.classList.add('slide-from-left')
        introductionBlockTextElement.classList.remove('hidden')
    
        socialMediaContainerElement.classList.add('fizzle-in')
        socialMediaContainerElement.classList.remove('hidden')
    }

    if(backgroundImageElement.complete) onImageLoaded()
    else backgroundImageElement.addEventListener('load', onImageLoaded)
</script>


<section class="relative w-screen h-screen bg-black z-0 overflow-hidden">
    <BlocksShuffle id="spinner-icon" classes="fill-white absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2" />

    <img alt="" id="splash-bg-img" src={backgroundCode} class="opacity-50 h-screen w-screen absolute  object-cover z-10"/>

    <div class="absolute w-screen h-screen flex flex-col justify-center items-center gap-10 z-12">

        <div class="relative z-20  w-full pl-4 pr-4 lg:w-4/6 space-y-5 flex flex-col">
            <h1 id="intro-text" class="hidden text-4xl h-10 xsm:text-5xl xsm:h-14 leading-none font-bold text-accent-green bolder z-10 w-fit">Hey, I'm Nathan</h1>
    
            <p id="intro-block-text" class="hidden text-white font-semibold text-2xl xsm:text-3xl -translate-x-[150vw]">{introMessage}</p>
        </div>

        <div id="social-media-container" class="hidden flex gap-3 w-18  h-auto z-40">
            <a href="https://www.linkedin.com/in/nathan-k-79012a53/" target="_blank">
                <Icon name="line-md:linkedin" class="text-white opacity-50 hover:opacity-90 w-10 h-10"/>
            </a>
            
            <a href="https://github.com/kriegernathan1" target="_blank">
                <Icon name="ri:github-fill" class="text-white opacity-50 hover:opacity-90 w-10 h-10"/>
            </a>
            
            <a href="mailto: me@nathankrieger.dev" target="_blank">
                <Icon name="tabler:mail" class="text-white opacity-50 hover:opacity-90 w-10 h-10"/>
            </a>
        </div>
    </div>    
</section>