<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <head>
      <script
        type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/clappr@latest/dist/clappr.min.js"
      ></script>
      <style>
        html {
          background: black;
          display: grid;
          place-items: center;
        }

        input[type="text"] {
          margin-top: 50px;
          background: white;
          height: 25px;
          width: 250px;
          border: 1px black;
        }

        .hide {
          display: none;
        }

        #link-list > * {
          list-style: none;
          color: white;
          display: flex;
          flex-direction: column;
          gap: 2px;
          background-color: transparent;
          color: white;
          border: none;
        }

        #player {
          width: 100vw;
        }
      </style>
    </head>
  </head>
  <body>
    <div id="default-input">
      <input type="text" placeholder="video link" />
      <input type="submit" value="Set link" />
    </div>

    <div class="enhanced-choices" id="enhanced">
      <li id="link-list"></li>
    </div>
    <div id="player"></div>
    <script defer>
      const submit = document.querySelector('input[type="submit"]');
      const input = document.querySelector('input[type="text"]');

      function createPlayer(source) {
        var player = new Clappr.Player({
          source: source,
          parentId: "#player",
          autoPlay: false,
          poster: "",
          plugins: [],

          mediacontrol: {
            seekbar: "#0053EF",
            buttons: "#FAFAFA",
          },
          mimeType: "application/x-mpegURL",
          width: "100%",
          height: "100vh",
          events: {},
          disableErrorScreen: false,
          disableKeyboardShortcuts: false,
          disableVideoTagContextMenu: false,
          hlsRecoverAttempts: 4,
          retryFailedSegments: false,
          playback: {
            hlsjsConfig: {
              retryFailedSegments: false,
              maxBufferSize: 0,
              // Highly recommended setting in live mode
              startLevel: 7,
              maxBufferLength: 5,
              // Highly recommended setting in live mode
              liveSyncDurationCount: 3,
              // Highly recommended setting in live mode
            },
          },
        });

        document.addEventListener("keydown", (e) => {
          if (e.key === "m") {
            document.querySelectorAll(".drawer-icon")[0].click();
          }
        });
      }

      submit.addEventListener("click", (e) => {
        e.preventDefault();

        input.classList.add("hide");
        submit.classList.add("hide");
        createPlayer(input.value);
      });

      async function getLinks() {
        const req = await fetch(
          "https://eflpexiiio6evbidxisiz7c44u0pwpdd.lambda-url.us-west-1.on.aws/"
        );
        const results = await req.json();

        // Create a <ul> element
        const ul = document.createElement("ul");

        // Iterate over the JSON object
        for (const [key, value] of Object.entries(results)) {
          // Create a <li> element
          const btn = document.createElement("button");

          btn.addEventListener("click", () => {
            createPlayer(btn.value);
            document.getElementById("enhanced").classList.add("hide");
          });

          // Set the text content
          btn.textContent = `${key}`;
          btn.value = value;
          // Append the <li> to the <ul>
          ul.appendChild(btn);
        }

        // Append the <ul> to the body or a specific element
        document.getElementById("link-list").appendChild(ul);

        document.getElementById("default-input").classList.add("hide");
      }

      getLinks();
    </script>
  </body>
</html>
