<div class="absolute z-50 border-4 border-solid border-white w-14 h-14 text-white grid place-items-center top-8 left-8">
    <div class="flex items-center">
        <span class="text-xl">N</span>
        <span class="text-xl">K</span>
    </div>
</div>