---
import backgroundCode from "../assets/code_background.jpg"
import Branding from "./Branding.astro"
import Button from "./Button.astro"

const introMessage = "I am a Full Stack Web Developer. I provide services that span from simple single page static websites to fully interactive web apps with powerful APIs."
---
<section class="relative w-screen h-screen bg-black z-0">
    <img src={backgroundCode} class="opacity-60 h-screen w-screen absolute  object-cover z-0"/>
    <Branding/>

    <div class="absolute w-screen h-screen flex flex-col justify-center items-center z-12">

        <div class="absolute top-40 sm:top-1/4 w-5/6 md:3/4 xl:w-4/6 space-y-5">
            <h1 class="text-4xl leading-none font-bold text-accent-green bolder z-10 text-[42px]">Hey, I'm Nathan</h1>
    
            <p class="text-white font-semibold text-3xl">{introMessage}</p>
        </div>

        <div class="w-18">
        </div>
    </div>    
</section>