---
import backgroundCode from "../assets/code_background.jpg"
import Branding from "./Branding.astro"
import Button from "./Button.astro"
import { Icon } from 'astro-icon'

const introMessage = "I am a Full Stack Web Developer. I provide services that span from simple single page static websites to fully interactive web apps with powerful APIs."
---
<section class="relative w-screen h-screen bg-black z-0 overflow-hidden">
    <img src={backgroundCode} class="opacity-50 h-screen w-screen absolute  object-cover z-10"/>
    <Branding/>

    <div class="absolute w-screen h-screen flex flex-col justify-center items-center gap-10 z-12">

        <div class="relative z-20  w-full pl-4 pr-4 lg:w-4/6 space-y-5">
            <h1 class="text-4xl leading-none font-bold text-accent-green bolder z-10 text-[42px]">Hey, I'm Nathan</h1>
    
            <p class="text-white font-semibold text-3xl">{introMessage}</p>
        </div>

        <div class="flex gap-3 w-18  h-auto z-40">
            <a href="https://www.linkedin.com/in/nathan-k-79012a53/" target="_blank">
                <Icon name="line-md:linkedin" class="text-white opacity-50 hover:opacity-90 w-10 h-10"/>
            </a>
            
            <a href="https://github.com/kriegernathan1" target="_blank">
                <Icon name="ri:github-fill" class="text-white opacity-50 hover:opacity-90 w-10 h-10"/>
            </a>
            
            <a href="mailto: me@nathankrieger.dev" target="_blank">
                <Icon name="tabler:mail" class="text-white opacity-50 hover:opacity-90 w-10 h-10"/>
            </a>
        </div>
    </div>    
</section>